/* *{
	margin:0;
} */
body{
	/* background:url('http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg') no-repeat;
	background-size:cover;
	height:100vh; */
	/* background-color: #413198; */
	overflow:auto;
	margin:0;
	/* padding:0; */
}
.container{
	/* overflow:auto; */
}
.mainHeader{
	background-color: darkmagenta;
	position:fixed;
	width: 100%;
	height: 100px;
	top:0;
	z-index:1;
}

.pavanLogo{
	background-color: #0da083;
	position:absolute;
	/* top:200px;
	left:200px; */
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin:10px;
	cursor:pointer;
	/* display:inline-block;
	align-items:center;
	justify-content:center; */
}
.pp{
	color:#10083c;
	font-size:60px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	/* font-family: sans-serif;
	 */
	/* float:left; */
}
.nav{
	position: absolute;
	margin-left:111px;
	z-index:1;
	right:10px;
}

/* .box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
	background-color:rgba(0,0,0,0.8);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow: 9px 12px 14px black;
	animation: fadeRegister 0.8s;
} */
.box{
	position:absolute;
	top:65%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
}
.box.login{
	top:300px;
}
/* @keyframes fadeRegister {
	0%
	{
		opacity: 0.2;
	}
	100%
	{
		opacity: 1;
	}
} */

@media(max-width:500px) {
	.box{
		width:333px;
		padding-left:35px;
	}
	/* .box{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:400px;
		padding:40px;
		background-color:none;
		box-shadow: none;
	}
	.inputBox input{
		width:100%;
		padding:10px;
		margin-bottom:60px;
		color:black;
		font-size: 18px;
	}
	.box .inputBox label
	{
		color:blue;
	} */

}
@media(max-width:375px) {
	.box{
		width:300px;
		padding-left:38px;
	}
	#fail{
		top:-45px;
	}
}
@media(max-height:575px) {
	.box{
		top:350px;
	}
	/* .copyrights{
		top:740px;
	} */
	.header{
		left:50%;
		transform: translate(-10%);
	}
	.footer{
		top:1060px;
	}
}
@media(max-width:575px) {
	.footer{
		top:1400px;
	}
}
/*@media(max-width:303px) {
	.copyrights{
		top:800px;
	}
}
@media(max-width:285px) {
	.copyrights{
		top:840px;
	}
}
@media(max-width:285px) {
	.copyrights{
		top:880px;
	}
}
@media(max-width:262px) {
	.copyrights{
		top:900px;
	}
} */
h1
{
	/* color:white; */
	text-align:center;
}
.inputBox{
	position:relative;
}
.inputBox input{
	width:100%;
	padding:10px;
	/* outline:none;
	border:none;
	border-bottom:3px solid white;
	background:transparent; */
	margin-bottom:60px;
	border:2px solid black;
	/* color:white; */
	color:black;
	font-size: 18px;
}
.box .inputBox label
{
	/* color:white; */
	color:black;
	position:absolute;
	top:0;
	left:4px;
	pointer-events:none;
	padding:10px 0;
	font-size:18px;
	transition:0.5s;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label
{
	top:-28px;
	left:0;
	font-size:18px;
	/* color:#8c8cb5; */
	color:black;
}


.btn{
	padding:10px;
	position:relative;
	/* left:50%; */
	/* transform: translate(-50%); */
	background-color: #e10050;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius: 5px;
	width:133px;
	color:white;
	font-size:16px;
	margin: 10px;
	top:20px;
	display:inline-block;
	align-items:center;
	justify-content:center;
}
.btn.submit{
	left:50%;
	transform: translate(-50%);
}
.warning{
	position:absolute;
	bottom:-5px;
	font-size: 20px;
}
#success{
	display:none;
	position:absolute;
	left:50%;
	transform:translate(-50%,-50%);
	color:green;
	font-size:20px;
	top:-48px;
	width:fit-content;
}
#fail{
	display:none;
	position:absolute;
	left:50%;
	transform:translate(-50%,-50%);
	color:red;
	font-size:20px;
	top:-48px;
}
p{
	text-align: center;
}

.fa-thumbs-up{
	color:grey;
	cursor:pointer;
}

/* .load{
	position:absolute;
	border:5px solid silver;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	line-height:150px;
	font-size:20px;
	text-transform:uppercase;
}
.load:before{
	content:'';
	position:absolute;
	top:-5px;
	left:-5px;
	width:100%;
	height:100%;
	border:5px solid transparent;
	border-top:5px solid black;
	border-radius:50%;
	animation:load 1.5s infinite;
}
@keyframes load
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
} */
.footer{
	background-color: darkmagenta;
	position:absolute;
	width: 100%;
	height: 100px;
	bottom:-285px;
}
.copyrights{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:fit-content;
	font-size:20px;
	color:white;
	margin:0;
	/* display:flex; */
}
.profile
{
	position: absolute;
	right:10px;
	font-size: 22px;
	color:white;
}
.error{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
@media(max-width:1025px){
	.mainHeader{
		position:fixed;
		height:66px;
		top:0;
	}
	.nav
	{
		margin-left:0;
		top:65px;
		left:0;
		display:none;
		height:400px;
		width:200px;
		background-color: #0d1048;
	}
	.pavanLogo{
		width: 50px;
		height: 50px;
	}
	.pp{
		font-size: 40px;
	}
	.profile{
		top:20px;
	}

}

/*	"dev":"concurrently \"npm run server\" \"npm run client\""  */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
