body{
	/* background:url('http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg') no-repeat;
	background-size:cover;
	height:100vh; */
	/* background-color: #413198; */
}
.container{
	/* overflow:auto; */
}

/* .box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
	background-color:rgba(0,0,0,0.8);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow: 9px 12px 14px black;
	animation: fadeRegister 0.8s;
} */
.box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:40px;
}

/* @keyframes fadeRegister {
	0%
	{
		opacity: 0.2;
	}
	100%
	{
		opacity: 1;
	}
} */

@media(max-width:500px) {
	.box{
		width:333px;
		padding-left:35px;
	}
	/* .box{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:400px;
		padding:40px;
		background-color:none;
		box-shadow: none;
	}
	.inputBox input{
		width:100%;
		padding:10px;
		margin-bottom:60px;
		color:black;
		font-size: 18px;
	}
	.box .inputBox label
	{
		color:blue;
	} */

}
@media(max-width:375px) {
	.box{
		width:300px;
		padding-left:38px;
	}
}
@media(max-height:575px) {
	.box{
		top:350px;
	}
}
h1
{
	/* color:white; */
	text-align:center;
}
.inputBox{
	position:relative;
}
.inputBox input{
	width:100%;
	padding:10px;
	/* outline:none;
	border:none;
	border-bottom:3px solid white;
	background:transparent; */
	margin-bottom:60px;
	border:2px solid black;
	/* color:white; */
	color:black;
	font-size: 18px;
}
.box .inputBox label
{
	/* color:white; */
	color:black;
	position:absolute;
	top:0;
	left:4px;
	pointer-events:none;
	padding:10px 0;
	font-size:18px;
	transition:0.5s;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label
{
	top:-28px;
	left:0;
	font-size:18px;
	/* color:#8c8cb5; */
	color:black;
}

.btn{
	padding:10px;
	position:relative;
	margin-bottom: 10px;
}
.btn button{
	padding:10px;
	position:absolute;
	left:50%;
	transform: translate(-50%);
	background-color: #e10050;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius: 5px;
	width:133px;
	color:white;
	font-size:16px;
}
/* a{
	color:white;
} */
p{
	position:absolute;
	bottom:-5px;
	font-size: 20px;
}
#success{
	display:none;
	color:green;
	font-size:20px;
}
.button{
	background-color:#ad279e;
	border-radius:10px;
	border:none;
	cursor:pointer;
	padding:15px;
	font-size:20px;
	margin:10px;
	color:white;
}

.fa-thumbs-up{
	color:grey;
	cursor:pointer;
}

.load{
	position:absolute;
	border:5px solid silver;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	line-height:150px;
	font-size:20px;
	text-transform:uppercase;
}
.load:before{
	content:'';
	position:absolute;
	top:-5px;
	left:-5px;
	width:100%;
	height:100%;
	border:5px solid transparent;
	border-top:5px solid black;
	border-radius:50%;
	animation:load 1.5s infinite;
}
@keyframes load
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}


/*	"dev":"concurrently \"npm run server\" \"npm run client\""  */

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
